<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>쾌이리그 순위표</h1>
<table>
  <tr>
    <th>팀</th>
    <th>경기 수</th>
    <th>승점</th>
    <th>승</th>
    <th>무</th>
    <th>패</th>
    <th>득점</th>
    <th>실점</th>
    <th>골득실</th>
  </tr>
  <tr th:each="team , index: ${teams}">
    <td th:text="${team.team.name}"></td>
    <td th:text="${team.played}"></td>
    <td th:text="${team.points}"></td>
    <td th:text="${team.won}"></td>
    <td th:text="${team.drawn}"></td>
    <td th:text="${team.lost}"></td>
    <td th:text="${team.goalsFor}"></td>
    <td th:text="${team.goalsAgainst}"></td>
    <td th:text="${team.goalDifference}"></td>
  </tr>
</table>
</body>
</html>